      .                                              ++               .     .
                                  +                                          \
'           .             .     .                     .                       \
             +        '    + '                       '                       ' *
           '       .         +              ' +.        +
.                                           '                     .
     .          '  +              *                                    .
.  '       *o
               o .   +  |                  |
                       -o-              .- o -                        |
                        |                  |     '               '   -+-
                                .        +          '                 |
                .                              '   ..  +                \
                            .    '       .  '    .o             .        \
                    ' .                                                   *
*
      .-.          +      . .    +   .  *                   .
    .( (   .                     o                                        '
      `-'                                    +   .
 o                                          .   . .       +                  . *
                                   +~~             '
https://www.asciiart.eu/ascii-night-sky-generator
